

/*The styles for the Main Window*/
window{
    background-color: rgba(20,20,20,0.9);
    border-radius: 12px;
}

/*Styles for search bar*/
.search{
    background-color: rgba(128,128,128,0.5);
    margin: 10px;
    color: whitesmoke;
}

/*Styles for the button*/
.button{
    background-color: rgba(200,200,200,0.5);
    margin: 7px;
    color: whitesmoke;
}

/*Styles for the Menu Button*/
.menuButton{
    margin: 10px;
    background-color: rgba(200,200,200,0.5);
    color: black;
}

/*Giving margin to elements inside menuButton*/
.menuButton *{
    margin-right: 5px;
    margin-left: 5px;
}
.menuButton:active{
    background-color: rgba(20,20,20,0.5);
}
.menuButton:hover{
    background-color: rgb(200,200,200);
}


/*Styles for the dialog*/
.dialog{
    background-color: rgba(20,20,20,0.9);
    border-radius: 12px;
}

/*Styles for the Layout of MenuDialog Buttons*/
.menuDialogLayout{
    background-color: rgba(200,200,200,0.5);
    margin: 10px;
}
.menuDialogLayout:active{
    background-color: rgba(20,20,20,0.5);
}
.menuDialogLayout:hover{
    background-color: rgb(200,200,200);
}

/*Margins for elements inside Layout of MenuDialog Button*/
.menuDialogLayout *{
    margin-right: 5px;
    margin-left: 5px;

}